<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>
        button {
            border-radius: 6px;
        }
        body{
            background: grey;
        }
    </style>
</head>
<body>

<h2 style="text-align: center"> Trang chủ blog</h2>
<p>
    <button style="background: darkgreen"><a style="text-decoration: none; color: white" th:href="@{/create}"> Thêm mới
        blog</a></button>
</p>

<form class="d-flex col-3" action="/home" method="get" style="float:right;
    position: relative;
    top: -42px;">
    <input name="searchName" th:value="${searchName}" class="form-control me-2" type="search" placeholder="Search"
           aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<table  class="table table-dark table-striped">
    <tr>
        <th>STT</th>
        <th>Tên blog</th>
        <th>Tên người đăng</th>
        <th>Ngày đăng blog</th>
        <th>Danh mục</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
        <th>Xem chi tiết blog</th>
    </tr>
    <tr th:each="row,start :${blogPage}">
        <td th:text="${start.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.poster}"></td>
        <td th:text="${row.dateSubmitted}"></td>
        <td th:text="${row.category.name}"></td>
        <td>
            <button style="border: solid 1px"><a style="text-decoration: none; color: black" th:href="@{/update(id=${row.getId()})}">Sửa</a>
            </button>
        </td>
        <td>
            <button style="border: solid 1px"><a style="text-decoration: none; color: black" th:href="@{/delete(id=${row.getId()})}">Xóa</a>
            </button>
        </td>
        <td>
            <button style="border: solid 1px"><a style="text-decoration: none; color: black" th:href="@{/detail(id=${row.getId()})}">Chi
                tiết</a></button>
        </td>
    </tr>
</table>
<div style="float: right">

    <a style="color:black;text-decoration: none" th:if="${blogPage.hasPrevious()}"
       th:href="@{/home(page=${blogPage.number-1},searchName=${searchName})}">
        <pan><<</pan>
        Trang trước</a>
    <span th:text="${blogPage.number+1}"></span>
    <span th:text="${blogPage.totalPages}"></span>


    <a style="color: black; text-decoration: none" th:if="${blogPage.hasNext()}"
       th:href="@{/home(page=${blogPage.number+1},searchName=${searchName})}">Trang tiếp theo
        <pan>>></pan>
    </a>

</div>

</body>
</html>