<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Update blog</h1>
<form action="/updateBlog" method="post" novalidate="novalidate" th:object="${updateBlog}">
    <input type="hidden" th:field="*{id}">
    <label>Tên blog: </label>
    <input type="text" th:field="*{name}"><br><br>
    <label>Tên người đăng: </label>
    <input type="text" th:field="*{poster}"><br><br>
    <label>Ngày đăng:</label>
    <input type="date" th:field="*{datePost}"><br><br>
    <label> Loại: </label>
    <select th:field="*{category}">
        <option th:each="c: ${category}" th:text="${c.name}" th:value="${c.id}"></option>
    </select>
    <button class="btm-btn-primary">lưu</button>
</form>
</body>
</html>