<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="/">Trở về danh sách sản phẩm</a>
<h1>Thông tin chi tiết của sản phẩm</h1>

<div>

  <label>ID:</label>
  <label th:text="${product.id}"></label>
  <br>

  <label>Tên sản phẩm:</label>
  <label th:text="${product.name}"></label>
  <br>

  <label>Giá sản phẩm:</label>
  <label th:text="${product.price}"></label>
  <br>

  <label>Nơi xuất xứ:</label>
  <label th:text="${product.origin}"></label>
  <br>

  <label>Hạn sử dụng:</label>
  <label th:text="${product.expiry}"></label>

</div>

</body>
</html>