<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <style>
        h2{
            text-align: center;
        }
        button{
            background: green;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .a1{
            color: white;
        }
    </style>
</head>
<body>
<h2>Ứng dụng nhạc của tôi</h2>
<button>
    <a th:href="@{/create}">Thêm mới nhạc</a>
    <br>
</button>
<form>
    <table class="table table-striped">
      <tr>
          <th>STT</th>
          <th>Nghệ sĩ</th>
          <th>Tên bài hát</th>
          <th>Thể loại nhạc</th>
          <th>cập nhật thông tin</th>
          <th>Thông tin chi tiết nhạc</th>
      </tr>
        <tr th:each="row,start : ${song}">
            <td th:text="${start.count}"></td>
            <td th:text="${row.artist}"></td>
            <td th:text="${row.nameSong}"></td>
            <td th:text="${row.kindOfMusic}"></td>
            <td>
                <button>
                    <a class="a1" th:href="@{/update(id=${row.getId()})}">cập nhật</a>
                </button>
            </td>
            <td>
                <button>
                    <a class="a1" th:href="@{/detail(id=${row.getId()})}">thông tin</a>
                </button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>